{
    "name": {{cluster.name}},
    "description": {{cluster.description}},
    "vxnet": {{cluster.vxnet}},
    "advanced_actions": [
        "scale_horizontal",
        "change_vxnet"
    ],
    "nodes": [{
        "role": "cs_node",
        "container": {
            "type":"lxc",
            "prefer_type": "lxc",
            "sriov_nic": true,
            "zone": "pek3",
            "image": "img-w1h7w2pt"
        },
        "instance_class": {{cluster.cs_node.instance_class}},
        "count": {{cluster.cs_node.count}},
        "cpu": {{cluster.cs_node.cpu}},
        "memory": {{cluster.cs_node.memory}},
        "volume": {
            "size": {{cluster.cs_node.volume_size}},
            "mount_point": "/data",
            "class": {{cluster.cs_node.volume_class}},
            "filesystem": "ext4"
        },
        "passphraseless":"ssh-rsa",
        "vertical_scaling_policy": "sequential",
        "services": {
            "init": {
                "cmd": "appctl init",
                "post_start_service": true,
                "order": 2
            },
            "start": {
                "cmd": "appctl start",
                "order": 2
            },
            "stop": {
                "cmd": "appctl stop",
                "order": 2
            },
            "get_nodes_order": {
                "event": ["upgrade", "rollback", "scale_vertical"],
                "cmd": "appctl getNodesOrder"
            },
            "scale_out": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scaleOut"
            },
            "scale_in": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scaleIn"
            }
        }
    },{
        "role": "shard_node",
        "container": {
            "type":"lxc",
            "prefer_type": "lxc",
            "sriov_nic": true,
            "zone": "pek3",
            "image": "img-w1h7w2pt"
        },
        "instance_class": {{cluster.shard_node.instance_class}},
        "count": {{cluster.shard_node.count}},
        "replica": {{cluster.shard_node.replica}},
        "cpu": {{cluster.shard_node.cpu}},
        "memory": {{cluster.shard_node.memory}},
        "volume": {
            "size": {{cluster.shard_node.volume_size}},
            "mount_point": "/data",
            "class": {{cluster.shard_node.volume_class}},
            "filesystem": "ext4"
        },
        "passphraseless":"ssh-rsa",
        "vertical_scaling_policy": "sequential",
        "services": {
            "init": {
                "cmd": "appctl init",
                "post_start_service": true,
                "order": 1
            },
            "start": {
                "cmd": "appctl start",
                "order": 1
            },
            "stop": {
                "cmd": "appctl stop",
                "order": 3
            },
            "get_nodes_order": {
                "event": ["upgrade", "rollback", "scale_vertical"],
                "cmd": "appctl getNodesOrder"
            },
            "scale_out": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scaleOut"
            },
            "scale_in": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scaleIn"
            }
        }
    },{
        "role": "mongos_node",
        "container": {
            "type":"lxc",
            "prefer_type": "lxc",
            "sriov_nic": true,
            "zone": "pek3",
            "image": "img-w1h7w2pt"
        },
        "instance_class": {{cluster.mongos_node.instance_class}},
        "count": {{cluster.mongos_node.count}},
        "cpu": {{cluster.mongos_node.cpu}},
        "memory": {{cluster.mongos_node.memory}},
        "volume": {
            "size": {{cluster.mongos_node.volume_size}},
            "mount_point": "/data",
            "class": {{cluster.mongos_node.volume_class}},
            "filesystem": "ext4"
        },
        "passphraseless":"ssh-rsa",
        "vertical_scaling_policy": "sequential",
        "services": {
            "init": {
                "cmd": "appctl init",
                "post_start_service": true,
                "order": 3
            },
            "start": {
                "cmd": "appctl start",
                "order": 3
            },
            "stop": {
                "cmd": "appctl stop",
                "order": 1
            },
            "get_nodes_order": {
                "event": ["upgrade", "rollback", "scale_vertical"],
                "cmd": "appctl getNodesOrder"
            },
            "scale_out": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scaleOut"
            },
            "scale_in": {
                "nodes_to_execute_on": 1,
                "cmd": "appctl scaleIn"
            }
        }
    }],
    "env": {
        "conf.userPass": {{env.conf.userPass}},
        "conf.storage.engine": {{env.conf.storage.engine}},
        "mongos_node.conf.net.port": {{env.mongos_node.conf.net.port}},
        "mongos_node.conf.setParameter.cursorTimeoutMillis": {{env.mongos_node.conf.setParameter.cursorTimeoutMillis}},
        "cs_node.conf.net.port": {{env.cs_node.conf.net.port}},
        "cs_node.conf.setParameter.cursorTimeoutMillis": {{env.cs_node.conf.setParameter.cursorTimeoutMillis}},
        "cs_node.conf.operationProfiling.mode": {{env.cs_node.conf.operationProfiling.mode}},
        "cs_node.conf.operationProfiling.slowOpThresholdMs": {{env.cs_node.conf.operationProfiling.slowOpThresholdMs}},
        "shard_node.conf.net.port": {{env.shard_node.conf.net.port}},
        "shard_node.conf.setParameter.cursorTimeoutMillis": {{env.shard_node.conf.setParameter.cursorTimeoutMillis}},
        "shard_node.conf.operationProfiling.mode": {{env.shard_node.conf.operationProfiling.mode}},
        "shard_node.conf.operationProfiling.slowOpThresholdMs": {{env.shard_node.conf.operationProfiling.slowOpThresholdMs}},
        "shard_node.conf.replication.enableMajorityReadConcern": {{env.shard_node.conf.replication.enableMajorityReadConcern}}
    }
}