subfix=${confd_cluster_global_uuid:0:8}
flush > /opt/app/current/bin/envs/node.env << NODE_ENV_FILE
NODE_CTL=nodectl
MY_SID=$confd_host_sid
MY_IP=$confd_host_ip
MY_ROLE=$confd_host_role
GLOBAL_UUID=$confd_cluster_global_uuid
CLUSTER_ID=$confd_cluster_id
DATA_MOUNTS="/data"
CONF_NET_PORT=$confd_env_conf_mongod_port
SERVICES="mongod/true/tcp:$confd_env_conf_mongod_port"
CONF_MAINTAIN_NET_PORT=27099
DB_QC_USER=qc_master
DB_ROOT_USER=root
DB_ROOT_PWD=$confd_env_db_userpass

RS_NAME=rs_$subfix

VERTICAL_SCALING_FLAG={{ $verticalScalingFlag }}
CHANGE_VXNET_FLAG={{ $changeVxnetFlag }}
CHANGE_VXNET_ROLES='{{ $changeVxnetRoles }}'

ADDING_HOSTS_FLAG={{ $addingHostsFlag }}
ADDING_LIST=($(echo ${confd_adding_hosts[@]}))

DELETING_HOSTS_FLAG={{ $deletingHostsFlag }}
DELETING_LIST=($(echo ${confd_deleting_hosts[@]}))

NODE_LIST=($(echo ${confd_repl_node_hosts[@]}))
NODE_RO_LIST=($(echo ${confd_ro_node_hosts[@]}))
NODE_CUR_LIST=($(echo ${confd_cur_node_hosts[@]}))
NODE_ENV_FILE