flush > /data/appctl/data/confd.mongod.new << CONFD_MONGOD_NEW
ENGINE=$confd_env_conf_mongod_engine
PORT=$confd_env_conf_mongod_port
replication_oplogSizeMB=$confd_env_conf_mongod_replication_oplogSizeMB
replication_enableMajorityReadConcern=$confd_env_conf_mongod_replication_enableMajorityReadConcern
CONFD_MONGOD_NEW